/* body */

body{
  background-color: #393544;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;

}

.flexcontainer{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;

}

#page{
  -webkit-flex: 0 1 60em;
  flex: 0 1 60em;
  -webkit-flex-flow: column;
  flex-flow: column;

}

header{
  flex: 0 1 100%;
  padding-left: 1em;
  margin-bottom: 0;
  background-color: #FFF;
  opacity: .7;
  -webkit-order: 1;
  order: 1;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  }

nav{
  flex: 0 0 35em;
  font-size: 1.5em;

}

nav li{
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

h1{
  font-weight: 100;
  font-size: 3.5em;

}

#content{
  margin-top:-1.5em;
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-order: 2;
  order: 2;
  background-color: #f2f2f2;
}

article{
  background-color: #f2f2f2;
}

h2.title{
  font-weight: 300;
  font-size: 2em;
  color: #2D2D2D;
}

.postbody{

}
