/* body */
html{
  height: 100%;
  min-height: 100%;
}
body{
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
}

header{
  left: 0;
  top: 0;
  height: 3.5em;
  background-color: #407396;
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
}

h1{
  margin: 0;
  color: #fff;
  font-size: 3em;
  font-weight: 100;
}


a{
  color: #407396;
  text-decoration: none;
}

.container{
  min-height: 100%;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

#content{
  /* max-width: 50em; */
  min-width: 20em;
  max-width: 80em;
  margin: 1.5em 0 0 0;
  padding:0 10em 1.7em 5em;
  overflow: hidden;

}

article{
  margin: 0 auto 1em auto;
  overflow: hidden;
}

article p{
  font-size: 1em;
  font-weight: normal;
}

/* code snippets */

code{
  background-color: #ddd;
}

pre code{
  display: block;
  border-left-width: thick;
  border-left-color: #aaa;
}

/* header */

h2#tagline{
  margin: 0;
  color: #fff;
  font-size: 2.5em;
  font-weight: 100;

}

#tagline{
  position: absolute;
  right: 5px;
  /*bottom: 1em;*/
}

#name{
  position: absolute;
  left: 5px;
}

/* nav */

nav{
  padding: 0 5px 0 0;
  width: 4.5em;
  float: left;
  font-size: 2em;
  font-weight: 300;
  color: #407396;
  text-align: right;
}

nav ul{
  margin: 0;
}

nav li{
  margin: 1em 0;
  list-style-type: none;
}

nav a:link, nav a:visited{
  margin-top: .5em;
  color: #407396;
  text-decoration: none;
}

/* blog */

h2.title{
  font-size: 2em;
  font-weight: 300;
  margin: .25em 0;
}

h3.date{
  margin: 0;
  font-size: 1.2em;
  font-weight: 300;
}

.entries{
  padding: 0;
  margin: 0 0 1em 0;

}

.entries ul{
  padding: 0;
  margin: 0;
}

.entries li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.entries li:not(:first-child){
  margin-top: 2.5em;

}

.entries a{
  text-decoration: none;
  color: #407396;
}

.postbody{
  font-size: 1em;
  font-weight: normal;
}

span.caption{
  width: 100%;
  display: block;
  text-align: center;
  font-size: .8em;
  color: #6e6e6e;
}
span.designCaption{
  width: 100%;
  display: block;
  text-align: center;
  font-size: .8em;
  color: #000;
  margin-bottom: 1em;
}

.postbody img{
  max-width: 60%;
  height: auto;
  display: block;
  margin: 1em auto 0 auto;
}

.postbody video{
  max-width: 60%;
  height: auto;
  display: block;
  margin: 1em auto 0 auto;
}

/* code */

#projects{
  padding: 0;
  margin: 0;
}

#projects li{
  list-style-type: none;
  display: block;
  margin: 3em 0em;
  padding: 0;
}

#projects img{
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 1em;
}



/* design */

/* about */

#selfie{
  float: left;
  width: 300px;
  margin: 0;
}

#bio{
  overflow: hidden;
}

form{
  margin: 0 auto;
  padding: 1em;
}

form div + div{
  margin-top: 1em;
}

label{
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {

  font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
  width: 45%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
  vertical-align: top;
  height: 7em;
  resize: vertical;
}

.submit {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

/* footer */
footer{
  position: absolute;
  bottom: 0;
  clear: both;
  width: 100%;
  height: 2.7em;
  background-color: #407396;
  text-align: center;
  font-size: .8em;
}

footer span{
  color: #fff;
}

footer a{
  color: #bbb;
  text-decoration: none;
}
