<!DOCTYPE html>
<html>
  <head>
    <!-- Adobe Typekit Script -->
    <script src="//use.typekit.net/pww6iam.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body>
    {% include header.html %}
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/code/">Code</a></li>
          <li><a href="/design/">Design</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </nav>
      <div id="content">
        {{ content }}
      </div>
      <div class="push"></div>
    </div>
    {% include footer.html %}
  </body>
</html>
